<div>
  <h3>{{ note.content }}</h3>
  <span class="button is-small is-success" (click)='addHeartToNote(note.hearts)'>
    Like <i class="fa fa-thumbs-up"></i>
  </span>
  <span class="button is-small is-warning" (click)='addDislikeToNote(note.dislike)'>
    Dislike <i class="fa fa-thumbs-down"></i>
  </span>

  <span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Delete<i class="fa fa-trash"></i></span>
  <p>This post has {{ note.hearts || 0 }} likes.</p>
  <p>This post has {{ note.dislike || 0 }} dislikes.</p>
</div>
